/*!***********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./app/globals.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************/
:root {
  --bg: #fff;
  --text: #0f172a;
}

html, body, #__next {
  height: 100%;
  margin: 0;
  background: var(--bg);
  color: var(--text);
}

a { color: #0369a1 }

h1 { margin: 0 0 0 0 }

